.contact{
  *{
    // border: 2px solid rgb(0, 0, 0);
    // padding: 5px 0;
    // margin: 5px 0;
  }
  .content{
    position: relative;
    // overflow: hidden;
    padding: 0;
    margin: 0;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 2px solid yellow;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 5px black;
  }
  .content_left{
    margin: 0;
    width:350px;
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    .imgbox{
      border: 3px solid blue;
      border: 0;
      position: absolute;
      bottom: -34px;
      left: -80px;
      width: 400px;
      height: 546px;
      transform: rotateZ(10deg);
      background-size: 100%;
      background-image: url(../../media/images/contact/contact.png);
      background-position: 50% 40%;
      background-repeat: no-repeat;

    }
  }
  .content_right{
    margin: 0;
    padding-left: 20px;
    width: calc(100% - 300px);
    .title{
      position: relative;
      text-align: left;
      text-transform: uppercase;
      font-size: 50px;
      color: black;
      font-style: normal;
      font-family: sans-serif;
      font-weight: 500;
      padding-left: 0;
      margin-bottom: 10px;
    }
    form{
      padding-bottom: 50px;
      padding-right: 50px;
      .row:first-child{
        .input_field:first-child{
          margin-right: 10px;
        }
        .input_field:last-child{
          margin-left: 10px;
        }
      }
      .row{
        display: flex;
        margin-bottom: 20px;
        
        .input_field{
          width: 100%;
          position: relative;
          input{
            height: 55px;
            width: 100%;
            border: 0;
            outline: none;
            background-color: transparent;
            border-bottom: 2px solid rgb(76, 76, 76);
            padding-top: 15px;
            padding-left: 3px;
            font-size: 22px;
          }
          label{
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 55px;
            bottom: 0;
            left: 0;
            text-transform: uppercase;
            span{
              font-size: 16px;
              font-weight: 100;
              letter-spacing: 1px;
              font-family: sans-serif;
              position: absolute;
              transition: all 0.2s ease;
              color: rgb(76, 76, 76);
              left: 3px;
              top: 55%;
              transform: translateY(-50%);
            }
          }
          .border_bottom{
            // position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 3px solid rgb(76, 76, 76);

          }
        }
        .textarea{
          margin-top: 20px;
          textarea{
            resize: none;
            padding-top: 0;
            padding-left: 3px;
            width: 100% ;
            height: 140px;
            border: 0;
            font-size: 20px;
            border-bottom: 2px solid rgb(76, 76, 76);
            outline: none;
            background-color: transparent;
          }
          label{
            position: absolute;
            width: 100%;
            height: 170px;
            bottom: 0;
            left: 0;
            // border: 2px solid black;
            text-transform: uppercase;
            span{
              top: 33px;  
              transform: translateY(0%);
            }
          }
        }
      }
    }
    button{
      position: relative;
      font-size: 20px;
      letter-spacing: 2px;
      display: block;
      width: 95%;
      padding: 17px;
      border-radius: 40px;
      margin:auto;
      margin-top: 40px;
      background-color: black;
      color: white;
      box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.6);
    }
  }
  
}

@media screen and (max-width: 992px) {
  .contact{

    .content_left{
      margin: 0;
      width:350px;
      align-self: stretch;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      position: relative;
      .imgbox{
        border: 3px solid blue;
        border: 0;
        left: -100px;
        width: 400px;
        height: 570px;
  
      }
    }
    .content_right{
      width: calc(100% - 200px);
    }
  }
}
@media screen and (max-width: 768px) {
  .contact{
    
    .content_left{
      margin: 0;
      width:100%;
      height: 100%;
      display: block;
      position: absolute;
      // border: 1px solid black;
      .imgbox{
        // border: 3px solid blue;
        border: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: 75%;
        background-position: 50% 20%;
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
        transform: rotateZ(0);
      }
    }
    .content_right{
      margin: 0;
      padding-left: 0px;
      width: calc(100% );
      .title{

        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
      }
      form{
        padding: 50px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .contact.sec{
    .content_wrapper{
      padding-left: 20px;
      padding-right: 20px;
      .content{
        margin: 0;
        padding: 0;
      }
    }
    .content_left{
      .imgbox{
        background-size: 90%;
        background-position: 50% 0px;
      }
    }
    .content_right{
      .title{
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
      }
      form{
        padding: 50px 15px;
        padding-top: 5px;
        .row:first-child{
          .input_field:first-child{
            margin-right: 0px;
            margin-bottom: 10px;
          }
          .input_field:last-child{
            margin-left: 0px;
            margin-top: 10px;
          }
        }
        .row{
          display: flex;
          margin-bottom: 20px;
          flex-direction: column;

        }
      }

    }
  }
}
@media screen and (max-width: 450px) {
  .contact.sec{
    .content_left{
      .imgbox{
        background-size: 90%;
        background-position: 50% 100px;
      }
    }

  }
}