.about{
    background-color: red;
    .content_left{
        width: 47%;
        .imgbox{
            margin-left: auto;
            width: 300px;
            height: 450px;
            background-color: grey;
        }
    }
    .content_right{
        width: 43%;
        h1{
            span{

            }
        }
        h2{

        }
        p{

        }
    }
}