#myResumePage .secWrapper {
  max-width: 1400px;
  width: 100%;
  padding: 30px 0;
}

#myResumePage .secTitle {
  width: 100%;
  font-size: 25px;
  background-color: #282828;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 4px;
  letter-spacing: 2px;
  font-family: 'Merriweather', serif;
}

#myResumePage .resumeSec {
  padding: 10px 30px;
  padding-bottom: 20px;
}

#myResumePage .left .resumeSec {
  padding: 10px 6%;
}

#myResumePage {
  background-color: #bebebe;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

#myResumePage .myResume {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 25px 4px #646464;
          box-shadow: 0px 0px 25px 4px #646464;
  width: 1260px;
  height: 1782px;
}

#myResumePage .myResume .left {
  background-color: white;
  width: 56%;
}

#myResumePage .myResume .left .personalInfo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 10px;
  padding-right: 6%;
}

#myResumePage .myResume .left .personalInfo .resumeTitle {
  font-size: 2rem;
  margin-left: 60px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  font-family: 'Merriweather', serif;
  font-style: italic;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-left: 6.4%;
  background-color: #5a5a5a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner {
  width: 100%;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px;
  padding-right: 5px;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .imgbox {
  min-width: 170px;
  min-height: 170px;
  background-color: #d0d0d0;
  border: 1px solid white;
  overflow: hidden;
  background-image: url(../../media/images/hero.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 170%;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .imgbox img {
  width: 300px;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .myinfo {
  text-align: center;
  margin: auto;
  padding: 5px;
  white-space: nowrap;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .myinfo .myName {
  color: #b9b9b9;
  font-size: 50px;
  padding-bottom: 15px;
  font-family: 'Ubuntu', sans-serif;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .myinfo .profession {
  color: #f0f0f0;
  font-size: 30px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

#myResumePage .myResume .left .personalInfo .tagline {
  padding: 15px 0;
  font-size: 20px;
  margin-left: 60px;
  font-weight: 500;
  color: #31332a;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#myResumePage .myResume .left .technicalSkills .technicalSkill {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid white;
  background-color: #2b343d;
  color: white;
  padding: 5px 13px;
  margin: 4px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#myResumePage .myResume .left .technicalSkills .technicalSkill:hover {
  background-color: #151a1e;
}

#myResumePage .myResume .left .progLangs span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#myResumePage .myResume .left .progLangs .progLang {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myResumePage .myResume .left .progLangs .progLang .title {
  font-size: 20px;
  font-weight: 700;
  color: #31332a;
  width: 30%;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  margin-left: 2px;
}

#myResumePage .myResume .left .progLangs .progLang .progressBarOuter {
  padding: 2px 1px;
  border: 2px solid black;
  width: 70%;
}

#myResumePage .myResume .left .progLangs .progLang .progressBarInner {
  background-color: #181818;
  height: 13px;
  width: 100%;
}

#myResumePage .myResume .left .langs .lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 50%;
  margin: 5px 0;
  font-family: "Quicksand", sans-serif;
}

#myResumePage .myResume .left .langs .lang span {
  display: inline;
  margin: 2px 5px;
}

#myResumePage .myResume .left .langs .lang .title {
  font-size: 22px;
  font-weight: 700;
  color: #31332a;
}

#myResumePage .myResume .left .langs .lang .level {
  padding: 1px 4px;
  font-size: 17px;
  margin: 2px 6px;
  font-weight: 400;
  background-color: #5a5a5a;
  color: white;
}

#myResumePage .myResume .left .langs .lang .level:hover {
  background-color: #717171;
}

#myResumePage .myResume .right {
  width: 44%;
  background-color: #5a5a5a;
}

#myResumePage .myResume .right .contactDetails {
  font-size: 24px;
  font-weight: 400;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  padding: 30px;
}

#myResumePage .myResume .right .contactDetails a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 45px;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#myResumePage .myResume .right .contactDetails a:hover span:last-child {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #2de6fe;
}

#myResumePage .myResume .right .contactDetails a:hover span:first-child {
  color: #2de6fe;
}

#myResumePage .myResume .right .contactDetails a span:first-child {
  position: relative;
  margin-top: 5px;
  width: 55px;
}

#myResumePage .myResume .right .contactDetails .bottomBorder {
  width: 80%;
  height: 2px;
  background-color: #bebebe;
  margin: auto;
  margin-top: 20px;
}

#myResumePage .myResume .right .projects .projectItem {
  margin-bottom: 15px;
  font-family: "Quicksand", sans-serif;
}

#myResumePage .myResume .right .projects .projectItem .title {
  color: white;
  font-size: 20px;
  margin: 6px 0;
  margin-bottom: 8px;
  font-weight: 700;
}

#myResumePage .myResume .right .projects .projectItem .title span {
  padding: 3px 5px;
}

#myResumePage .myResume .right .projects .projectItem .title span:first-child {
  padding: 0 5px;
  color: #31332a;
  background-color: #c8c8c8;
}

#myResumePage .myResume .right .projects .projectItem .title span:nth-child(2) {
  margin-left: 7px;
}

#myResumePage .myResume .right .projects .projectItem .desc {
  color: #31332a;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin-left: 25px;
}

#myResumePage .myResume .right .myJourney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#myResumePage .myResume .right .myJourney .myJourneyItem {
  position: relative;
  width: 83%;
  border-left: 9px solid white;
  color: white;
  padding: 10px;
  padding-bottom: 25px;
  font-family: "Quicksand", sans-serif;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .time {
  font-size: 18px;
  position: absolute;
  left: -115px;
  width: 100px;
  text-align: right;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .title span:first-child {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  left: -19px;
  top: 10px;
  background-color: #31332a;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .title span:nth-child(2) {
  color: #31332a;
  padding: 0 5px;
  background-color: #c8c8c8;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .desc {
  font-size: 18px;
}

#myResumePage .myResume .right .interests .interest {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid white;
  color: #31332a;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 20px;
  margin: 5px;
}
/*# sourceMappingURL=MyResumePage.module.css.map */