// light
$lightLeft: rgb(255, 255, 255);
$lightRight: rgb(101, 111, 92);
$lightTextBg: rgb(72, 81, 64);
$lightSecTitle: rgb(72, 66, 53);
$lightResumeTitle: rgb(0, 0, 0);
$lightName: rgb(131, 126, 115);

// dark

#myResumePage{
    .secWrapper{
        max-width: 1400px;
        width: 100%;
        // background-color: blue;
        padding: 30px 4%;
    }
    .secTitle{
        width: 100%;
        font-size: 25px;
        background-color: $lightSecTitle;
        color: white;
        margin-bottom: 20px;
        text-align: center;
        padding: 4px;
        letter-spacing: 2px;
    }
    .resumeSec{
        padding: 10px 30px ;
        padding-bottom: 20px;
        // border: 2px solid black;
    }
    .left{
        .resumeSec{
            padding: 10px 6%;
        }
    }
}
#myResumePage{
    background-color: rgb(152, 150, 150);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    .myResume{
        font-size: 30px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: rgb(201, 201, 201);
        .left{
            background-color: $lightLeft;
            width: 57%;
            .personalInfo{
                width: 100%;
                height: fit-content;
                padding-bottom: 10px;
                padding-right: 6%;
                .resumeTitle{
                    font-size: 2rem;
                    margin-left: 60px;
                    color: black;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 20px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                .imgboxOuter{
                    width: 100%;
                    min-width: fit-content;
                    padding-left: 6.4%;
                    background-color: $lightRight;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .imgboxInner{
                        width: 100%;
                        background-color: $lightSecTitle;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 25px 30px;
                        padding-right: 5px;
                        .imgbox{
                            min-width: 170px;
                            min-height: 170px;
                            background-color: rgb(101, 111, 92);
                            overflow: hidden;
                            background-image: url(../../media/images/hero.png);
                            background-position: top;
                            background-repeat: no-repeat;
                            background-size: 170%;
                            img{
                                width: 300px;
                            }
                        }
                        .myinfo{
                            text-align: center;
                            margin: auto;
                            padding: 5px;
                            white-space: nowrap;
                            .myName{
                                color: rgb(185, 185, 185);
                                font-size: 50px;
                                padding-bottom: 15px;
                            }
                            .profession{
                                color: rgb(240, 240, 240);
                                font-size: 27px;
                            }
                        }
                    }
                }
                .tagline{
                    padding: 15px 0;
                    font-size: 20px;
                    margin-left: 60px;
                    font-weight: 400;
                    color: rgb(49, 51, 42);
                    text-align: center;
                    // span{
                    //     font-weight: 500;
                    // }
                }
            }

            .technicalSkills{
                .technicalSkill{
                    display: inline-flex;
                    border: 1px solid white;
                    background-color: $lightTextBg; 
                    color: white;
                    padding: 5px 13px;  
                    margin: 5px;
                    font-size: 18px;
                   }
            }

            .progLangs{
                span{
                    display: inline-flex;
                }
                .progLang{
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .title{
                        font-size: 20px;
                        font-weight: 500;
                        width: 30%;
                    }
                    .progressBarOuter{
                        padding: 2px 1px;
                        border: 2px solid black;
                        width: 70%;

                    }
                    .progressBarInner{
                        background-color: $lightTextBg;
                        height: 15px;
                        width: 100%;
                    }
                }
            }

        }
        .right{
            width: 43%;
            background-color: $lightRight;
            .contactDetails{
                font-size: 22px;
                font-weight: 600;
                color: rgb(230, 230, 230);
                padding: 30px;
                a{
                    display:flex;
                    line-height: 55px;
                    color: white;
                    span{
                        width: 50px;
                    }
                }
                .bottomBorder{
                    width: 80%;
                    height: 2px;
                    background-color: rgb(190, 190, 190);
                    margin: auto;
                    margin-top: 20px;
                }
            }
            .projects{
                .projectItem{
                    margin-bottom: 10px;
                    .title{
                        color: rgb(0, 0, 0);
                        font-size: 18px;
                    }
                    .desc{
                        color: white;
                        background-color: rgb(72, 81, 64);
                        font-size: 16px;
                        padding: 5px;
                        margin-left: 25px;
                    }
                }
            }
            .myJourney{
                .myJourneyItem{
                    .time{

                        font-size: 20px;
                    }
                    .title{
                        font-size: 20px;
                        span{
                        }
                    }
                    .desc{
                        font-size: 20px;
                    }
                }
            }
            .interests{
                .interest{
                 display: inline-flex;
                 border: 1px solid white;
                 color: white; 
                 padding: 5px 10px;
                 font-size: 20px; 
                 margin: 5px;
                }
            }
        }
    }
}