#myResumePage .secWrapper {
  max-width: 1400px;
  width: 100%;
  padding: 30px 60px;
}

#myResumePage .secTitle {
  width: 100%;
  font-size: 25px;
  background-color: #741313;
  color: white;
  margin: 25px auto;
  text-align: center;
  padding: 4px;
  letter-spacing: 2px;
}

#myResumePage .resumeSec {
  padding: 30px;
}

#myResumePage {
  background-color: #989696;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

#myResumePage .myResume {
  font-size: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #efefef;
}

#myResumePage .myResume .left {
  background-color: white;
  width: 57%;
}

#myResumePage .myResume .left .personalInfo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #dedede;
  padding-bottom: 10px;
}

#myResumePage .myResume .left .personalInfo .resumeTitle {
  font-size: 2.7rem;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter {
  width: 90%;
  background-color: #606b56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner {
  width: 89%;
  background-color: #44483f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .imgbox {
  width: 170px;
  height: 170px;
  background-color: #656f5c;
  overflow: hidden;
  background-image: url(../../media/images/hero.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 170%;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .imgbox img {
  width: 300px;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .myinfo {
  text-align: center;
  padding-left: 20px;
  white-space: nowrap;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .myinfo .myName {
  color: #b9b9b9;
  font-size: 50px;
  padding-bottom: 15px;
}

#myResumePage .myResume .left .personalInfo .imgboxOuter .imgboxInner .myinfo .profession {
  color: #f0f0f0;
  font-size: 27px;
}

#myResumePage .myResume .left .personalInfo .tagline {
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #31332a;
  text-align: center;
  margin-right: 60px;
}

#myResumePage .myResume .left .technicalSkills .technicalSkill {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid white;
  background-color: #171717;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  font-size: 20px;
}

#myResumePage .myResume .right {
  width: 43%;
  background-color: #606b56;
}

#myResumePage .myResume .right .contactDetails {
  height: 300px;
  font-size: 25px;
  font-weight: 600;
  padding: 30px;
}

#myResumePage .myResume .right .contactDetails a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 55px;
  color: white;
}

#myResumePage .myResume .right .contactDetails a span {
  width: 50px;
}

#myResumePage .myResume .right .projects .projectItem {
  margin-bottom: 10px;
}

#myResumePage .myResume .right .projects .projectItem .title {
  color: black;
  font-size: 18px;
}

#myResumePage .myResume .right .projects .projectItem .desc {
  color: white;
  background-color: #485140;
  font-size: 16px;
  padding: 5px;
  margin-left: 25px;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .time {
  font-size: 20px;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .title {
  font-size: 20px;
}

#myResumePage .myResume .right .myJourney .myJourneyItem .desc {
  font-size: 20px;
}

#myResumePage .myResume .right .interests .interest {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  margin: 5px;
}
/*# sourceMappingURL=MyResumePage.module.css.map */