#homePage {
  background-color: #101010;
  position: relative;
}

.sec {
  overflow: hidden;
  padding: 5px;
}

.sec .title {
  background-color: white;
  color: black;
  text-align: center;
  margin: auto;
  width: 300px;
  padding: 15px;
  margin-top: 20px;
}

.sec .content_wrapper {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  margin: auto;
  padding: 90px 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hero {
  position: relative;
  padding: 0;
  border: 0;
}

.hero .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero .content_wrapper {
  border: 0;
  padding-top: 160px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 85%;
}

.hero .content_wrapper h4 {
  font-size: 30px;
}

.hero .content_wrapper h1 {
  font-size: 4.5rem;
}

.hero .content_wrapper h3 {
  margin: 15px 0;
  font-size: 30px;
  padding: 40px;
}

.hero .content_wrapper .btns button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hero .content_wrapper .btns button:first-child {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin-right: 10px;
  width: 50%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.hero .content_wrapper .btns button:first-child:hover {
  color: black;
  background-color: white;
}

.hero .content_wrapper .btns button:last-child {
  margin-left: 10px;
  background: white;
  color: black;
  width: 30%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.hero .content_wrapper .btns button:last-child:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

@media only screen and (max-width: 768px) {
  .hero .content_wrapper {
    border: 2px solid white;
    padding-top: 160px;
    padding-bottom: 80px;
    width: 100%;
  }
  .hero .content_wrapper h4 {
    font-size: 30px;
    padding: 10px 0;
  }
  .hero .content_wrapper h1 {
    font-size: 3.2rem;
  }
  .hero .content_wrapper h3 {
    margin: 15px 0;
    font-size: 22px;
    padding: 40px 0;
  }
  .hero .content_wrapper .btns button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .hero .content_wrapper .btns button:first-child {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    width: 50%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .hero .content_wrapper .btns button:first-child:hover {
    color: black;
    background-color: white;
  }
  .hero .content_wrapper .btns button:last-child {
    margin-left: 10px;
    background: white;
    color: black;
    width: 30%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .hero .content_wrapper .btns button:last-child:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
  }
}

.about .content_wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .content_left {
  width: 43%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  margin: 10px 15px;
}

.about .content_left .imgbox {
  position: relative;
  margin-left: auto;
  width: 420px;
  height: 550px;
  background-image: url(../../media/images/about.png);
  background-position: 50% 100%;
  background-size: 106%;
  background-repeat: no-repeat;
}

.about .content_left .imgbox .imgboxBorder {
  position: absolute;
  width: 102%;
  height: 102%;
  top: -22px;
  left: -22px;
  border-top: 10px solid brown;
  border-left: 10px solid brown;
}

.about .content_right {
  width: 43%;
  min-width: 353px;
  margin: 10px 15px;
}

.about .content_right .sm_content_wrapper {
  max-width: 400px;
}

.about .content_right .sm_content_wrapper h1 {
  padding: 3px;
  font-size: 35px;
  color: brown;
}

.about .content_right .sm_content_wrapper h1 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 7px;
  margin-left: 4px;
  height: 6px;
  width: 60px;
  background-color: brown;
}

.about .content_right .sm_content_wrapper p {
  font-size: 20px;
  padding: 10px 5px;
}

@media only screen and (max-width: 768px) {
  .about .content_left {
    margin: 8px;
  }
  .about .content_left .imgbox {
    width: 270px;
    height: 350px;
  }
  .about .content_left .imgbox .imgboxBorder {
    width: 102%;
    height: 102%;
    top: -18px;
    left: -18px;
    border-top: 6px solid brown;
    border-left: 6px solid brown;
  }
  .about .content_right {
    min-width: 310px;
    margin: 8px;
    padding: 3px;
    text-align: center;
  }
  .about .content_right .sm_content_wrapper {
    max-width: 300px;
  }
  .about .content_right .sm_content_wrapper h1 {
    font-size: 32px;
  }
  .about .content_right .sm_content_wrapper p {
    font-size: 18px;
    padding: 10px 5px;
  }
}

.skills .content_left {
  width: 52%;
  height: 500px;
}

.skills .content_right {
  width: 42%;
  height: 500px;
}

.services .service {
  margin: 0 10px;
  padding: 5px 15px;
}

.services .service .imgbox {
  height: 200px;
  width: 250px;
}

.services .service h2 {
  padding: 15px 0;
}

.services .service p {
  padding: 5px 0;
}

.portfolio .content_wrapper h1 {
  margin: 35px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.portfolio .content_wrapper h1 span {
  color: #717171;
  font-size: 37px;
}

.portfolio .content_wrapper .btn {
  margin: 40px;
  padding: 10px 40px;
  font-size: 25px;
  background-color: #949494;
  color: white;
  border-radius: 10px;
}

.portfolio .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio_item {
  height: 400px;
  max-width: 330px;
  width: 27%;
  min-width: 280px;
  padding: 10px;
  margin: 20px;
  background-color: #5f5f5f;
}

.portfolio .portfolio_item .imgbox {
  height: 230px;
  width: 100%;
  overflow: hidden;
}

.portfolio .portfolio_item .imgbox img {
  height: 230px;
}

.portfolio .portfolio_item h2 {
  padding: 10px 0;
}

.portfolio .portfolio_item .btn_container {
  margin-top: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.portfolio .portfolio_item .btn_container a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 10px;
  padding: 10px 20px;
}

.portfolio .portfolio_item .btn_container a:first-child {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin-right: 10px;
}

.portfolio .portfolio_item .btn_container a:last-child {
  margin-left: 10px;
  background: white;
  color: blue;
}

@media only screen and (max-width: 768px) {
  .sec {
    padding: 0;
  }
  .sec .content_wrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: 320px;
  }
}
/*# sourceMappingURL=HomePage.module.css.map */