html {
  scroll-behavior: smooth;
}

#homePage {
  background-color: rgb(41, 41, 41);
  position: relative;
}

.sec {
  overflow: hidden;
  padding: 5px;
}
.sec .title {
  color: rgb(30, 255, 143);
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}
.sec .content_wrapper {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin: auto;
  padding: 30px;
  padding-bottom: 90px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sec .content {
  max-width: 1200px;
  width: 100%;
}

.common .content {
  gap: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.common .card {
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  min-width: 300px;
  align-self: stretch;
  width: 300px;
  max-width: 450px;
  flex-grow: 1;
  background-color: rgb(48, 48, 48);
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 576px) {
  .portfolio .card, .services .card, .upCommingProjects .card {
    margin: 0 4px;
  }
}
.hero {
  position: relative;
  padding: 0;
  border: 0;
}
.hero .content_wrapper {
  padding-top: 160px;
  padding-bottom: 80px;
  position: relative;
}
.hero .content_wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  text-align: center;
}
.hero .content_wrapper h4 {
  font-size: 30px;
  white-space: nowrap;
}
.hero .content_wrapper h1 {
  font-size: 4.5rem;
}
.hero .content_wrapper h3 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: 100;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero .content_wrapper .btns {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.hero .content_wrapper .btns button {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.2s ease;
}
.hero .content_wrapper .btns button:first-child {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  margin: 0 15px;
  width: 50%;
  max-width: 300px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.hero .content_wrapper .btns button:first-child:hover {
  color: black;
  background-color: rgb(142, 24, 0);
}
.hero .content_wrapper .btns button:last-child {
  margin: 0 15px;
  background: rgb(255, 255, 255);
  color: black;
  width: 30%;
  max-width: 220px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.hero .content_wrapper .btns button:last-child:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

@media only screen and (max-width: 576px) {
  .hero .content_wrapper {
    width: 100%;
  }
  .hero .content_wrapper h4 {
    font-size: 30px;
    padding: 10px 0;
  }
  .hero .content_wrapper h1 {
    font-size: 3.2rem;
  }
  .hero .content_wrapper h3 {
    margin: 15px 0;
    font-size: 22px;
    padding: 40px 10px;
  }
  .hero .content_wrapper .btns {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .content_wrapper .btns button {
    padding: 7px 25px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
  }
  .hero .content_wrapper .btns button:last-child {
    margin-top: 15px;
  }
}
.about .content_wrapper .content {
  max-width: 950px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .content_left {
  justify-self: center;
  padding: 10px;
  margin: 15px;
  position: relative;
}
.about .content_left .imgbox {
  position: relative;
  margin-left: auto;
  width: 460px;
  height: 600px;
  background-image: url(../../media/images/about.png);
  background-position: 50% 100%;
  background-size: 106%;
  background-repeat: no-repeat;
}
.about .content_left .imgbox .imgboxBorder {
  position: absolute;
  width: 102%;
  height: 102%;
  top: -22px;
  left: -22px;
  border-top: 10px solid brown;
  border-left: 10px solid brown;
}
.about .content_right {
  width: 350px;
  max-width: 480px;
  flex-grow: 1;
  margin: 15px;
}
.about .content_right h1 {
  font-size: 35px;
  color: brown;
  margin-bottom: 30px;
}
.about .content_right h1 span {
  display: inline-flex;
  margin-bottom: 7px;
  margin-left: 4px;
  height: 6px;
  width: 60px;
  background-color: brown;
}
.about .content_right p {
  font-size: 20px;
  padding: 10px 0;
}
.about .content_right button {
  margin-left: 5px;
  margin-top: 26px;
  font-size: 20px;
  padding: 10px 20px;
}

@media only screen and (max-width: 576px) {
  .about .content_left .imgbox {
    width: 280px;
    height: 360px;
  }
  .about .content_left .imgbox .imgboxBorder {
    width: 102%;
    height: 102%;
    top: -18px;
    left: -18px;
    border-top: 6px solid brown;
    border-left: 6px solid brown;
  }
  .about .content_right {
    max-width: 400px;
    width: 100%;
    min-width: 320px;
  }
  .about .content_right h1 {
    margin-left: 5px;
    font-size: 32px;
  }
  .about .content_right p {
    font-size: 18px;
    padding: 10px 5px;
  }
}
.skills .content {
  gap: 30px 10px;
}
.skills .content .content_container {
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.skills .content .sub_title {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10;
  font-style: italic;
  color: rgb(211, 211, 211);
  font-size: 20px;
}
.skills .content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  max-width: 100%;
}
.skills .content_left .content_container {
  flex-direction: column;
  justify-content: space-evenly;
}
.skills .content_left .content_container .progLang:nth-child(1) .progressBarInner {
  background: rgb(0, 220, 255);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(127, 0, 255) 100%);
}
.skills .content_left .content_container .progLang:nth-child(2) .progressBarInner {
  background: rgb(0, 220, 255);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(0, 255, 84) 100%);
}
.skills .content_left .content_container .progLang:nth-child(3) .progressBarInner {
  background: rgb(255, 230, 0);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(255, 0, 220) 100%);
}
.skills .content_left .content_container .progLang:nth-child(4) .progressBarInner {
  background: rgb(255, 0, 0);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(225, 255, 0) 100%);
}
.skills .content_left .content_container .progLang:nth-child(5) .progressBarInner {
  background: rgb(6, 255, 0);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(255, 0, 0) 100%);
}
.skills .content_left .content_container .progLang:nth-child(6) .progressBarInner {
  background: rgb(255, 136, 0);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(255, 145, 0) 100%);
}
.skills .content_left .content_container .progLang:nth-child(7) .progressBarInner {
  background: rgb(255, 80, 0);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(0, 55, 255) 100%);
}
.skills .content_left .content_container .progLang:nth-child(8) .progressBarInner {
  background: rgb(255, 174, 0);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(0, 241, 255) 100%);
}
.skills .content_left .content_container .progLang:nth-child(9) .progressBarInner {
  background: rgb(255, 174, 0);
  background: linear-gradient(45deg, rgb(0, 220, 255) 0%, rgb(251, 255, 0) 100%);
}
.skills .content_left .content_container .progLang {
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .content_left .content_container .progLang span {
  display: inline-flex;
}
.skills .content_left .content_container .progLang .sm_title_wrapper {
  width: 30%;
  padding-right: 5px;
}
.skills .content_left .content_container .progLang .sm_title_wrapper .sm_title {
  color: wheat;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  width: 110px;
  margin: auto;
}
.skills .content_left .content_container .progLang .progressBarOuter {
  width: 70%;
  flex-grow: 2;
  padding: 1px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: inset 0 0 10x black;
  border-radius: 10px;
}
.skills .content_left .content_container .progLang .progressBarOuter .progressBarInner {
  border-radius: 10px;
  height: 12px;
  background-color: rgb(240, 240, 240);
  -webkit-animation: skillbar 4s ease-in-out forwards;
          animation: skillbar 4s ease-in-out forwards;
}
.skills .content_right {
  max-width: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .content_right .content_container {
  display: flex;
  justify-content: space-evenly;
}
.skills .content_right .content_container .circle_outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  margin: 10px;
  height: 110px;
  width: 120px;
  padding: 5px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2), -4px -4px 6px -1px rgba(255, 255, 255, 0.2);
}
.skills .content_right .content_container .circle_outer .circle_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.6), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.2), -0.5px -0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.2);
}
.skills .content_right .content_container .circle_outer .circle_inner .sm_title {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.skills .content_right .content_container .circle_outer .circle_inner .level_percent {
  position: absolute;
  font-size: 15px;
  bottom: 15px;
}
.skills .content_right .content_container .circle_outer svg {
  position: absolute;
  top: 1;
  left: 1;
}
.skills .content_right .content_container .circle_outer svg path {
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: 330;
  -webkit-animation: circleBar 4s ease-in-out forwards;
          animation: circleBar 4s ease-in-out forwards;
}

@-webkit-keyframes circleBar {
  0% {
    stroke-dashoffset: 330;
  }
}

@keyframes circleBar {
  0% {
    stroke-dashoffset: 330;
  }
}
@-webkit-keyframes skillbar {
  from {
    width: 0%;
  }
}
@keyframes skillbar {
  from {
    width: 0%;
  }
}
@media only screen and (max-width: 994px) {
  .skills .content_left .content_container .progLang .progressBarOuter {
    margin-right: 25px;
  }
  .skills .content_right .content_container .circle_outer .circle_inner .sm_title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 576px) {
  .skills .content_left {
    margin: 0;
    max-width: 100%;
  }
  .skills .content_left .content_container .progLang {
    margin: 5px;
  }
  .skills .content_left .content_container .progLang .sm_title_wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 5px;
  }
  .skills .content_left .content_container .progLang .sm_title_wrapper .sm_title {
    font-size: 16px;
    width: 95px;
  }
  .skills .content_left .content_container .progLang .progressBarOuter {
    max-width: calc(100% - 100px);
    margin: 0;
  }
  .skills .content_left .content_container .progLang .progressBarOuter .progressBarInner {
    height: 6px;
  }
  .skills .content_right {
    margin: 0;
  }
  .skills .content_right .content_container .circle_outer .circle_inner .sm_title {
    font-size: 12px;
  }
}
.services .services_item:nth-child(1) {
  border-color: rgb(252, 0, 200);
}
.services .services_item:nth-child(1) .iconbox span {
  color: rgb(252, 0, 200);
  background-color: rgba(255, 0, 200, 0.4);
}
.services .services_item:nth-child(2) {
  border-color: #00d8ff;
}
.services .services_item:nth-child(2) .iconbox span {
  color: #00d8ff;
  background-color: hsla(189deg, 100%, 50%, 0.4);
}
.services .services_item:nth-child(3) {
  border-color: #2aa45f;
}
.services .services_item:nth-child(3) .iconbox span:first-child {
  color: #2aa473;
  background-color: rgba(41, 163, 114, 0.4);
}
.services .services_item:nth-child(3) .iconbox span:nth-child(2) {
  color: #2aa45f;
}
.services .services_item:nth-child(3) .iconbox span:last-child {
  color: #5caa45;
  background-color: rgba(93, 170, 69, 0.4);
}
.services .services_item:nth-child(4) {
  border-color: #2089b8;
}
.services .services_item:nth-child(4) .iconbox span {
  color: #2089b8;
  background-color: rgba(33, 136, 184, 0.4);
}
.services .services_item:nth-child(5) {
  border-color: #777b9d;
}
.services .services_item:nth-child(5) .iconbox span {
  color: #777b9d;
  background-color: rgba(119, 123, 157, 0.4);
}
.services .services_item:nth-child(6) {
  border-color: rgb(162, 177, 111);
}
.services .services_item:nth-child(6) .iconbox span:first-child {
  color: #a4c639;
  background-color: rgba(165, 198, 57, 0.4);
}
.services .services_item:nth-child(6) .iconbox span:nth-child(2) {
  color: rgb(162, 177, 111);
}
.services .services_item:nth-child(6) .iconbox span:last-child {
  color: silver;
  background-color: rgba(192, 192, 192, 0.5);
}
.services .services_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 10px solid blue;
}
.services .services_item:hover {
  background-color: rgb(58, 0, 92);
}
.services .services_item .iconbox {
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .services_item .iconbox span {
  font-size: 60px;
  color: blue;
  background-color: rgba(165, 42, 42, 0.7);
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
}
.services .services_item .iconbox span svg {
  z-index: 10;
}
.services .services_item .iconbox span:nth-child(2) {
  z-index: 10;
  background-color: transparent;
  padding: 0;
  margin: 0 -23px;
}
.services .services_item h2 {
  text-align: center;
  padding: 15px 10px;
}
.services .services_item p {
  font-size: 17px;
  padding: 5px 10px;
  font-weight: 100;
  color: rgb(240, 240, 240);
}

@media only screen and (max-width: 576px) {
  .services .services_item h2 {
    text-align: center;
    padding: 15px 0;
  }
  .services .services_item p {
    font-size: 18px;
    padding: 5px;
  }
}
.portfolio .content_wrapper .content {
  max-width: 980px;
  justify-content: center;
  gap: 30px;
}
.portfolio .content_wrapper .content .card {
  background-color: transparent;
  border-radius: 0;
}
.portfolio .portfolio_item {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.portfolio .portfolio_item .imgbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
.portfolio .portfolio_item h2 {
  width: 100%;
  text-align: center;
  font-style: italic;
  position: relative;
  padding: 10px 20px;
}
.portfolio .portfolio_item > p {
  width: 100%;
  position: relative;
  padding: 10px;
  text-align: center;
}
.portfolio .portfolio_item div {
  position: relative;
  width: 100%;
}
.portfolio .portfolio_item div h3 {
  padding: 5px;
  margin-top: 5px;
  font-style: italic;
  text-align: center;
  color: rgb(226, 226, 226);
}
.portfolio .portfolio_item div p {
  display: flex;
  justify-content: center;
  padding: 3px;
}
.portfolio .portfolio_item div p span:nth-child(2) {
  margin-left: 3px;
}
.portfolio .portfolio_item .btn_container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.portfolio .portfolio_item .btn_container a {
  display: inline-flex;
  border-radius: 10px;
  padding: 6px 20px;
}
.portfolio .portfolio_item .btn_container a:first-child {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  margin-right: 10px;
}
.portfolio .portfolio_item .btn_container a:last-child {
  border: 2px solid rgb(255, 255, 255);
  margin-left: 10px;
  background: rgb(255, 255, 255);
  color: blue;
}

@media only screen and (max-width: 576px) {
  .portfolio .content .card {
    min-width: 310px;
  }
  .portfolio .portfolio_item {
    padding: 20px 10px;
  }
}
.upCommingProjects .content_wrapper .content {
  max-width: 980px;
  justify-content: space-between;
}
.upCommingProjects .content_wrapper .content .card {
  background-color: transparent;
}
.upCommingProjects .upcommingProject_item {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.upCommingProjects .upcommingProject_item .imgbox {
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.upCommingProjects .upcommingProject_item h2 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
  color: rgb(226, 130, 255);
}
.upCommingProjects .upcommingProject_item h5 {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: rgb(226, 226, 226);
  font-size: 1rem;
  padding: 10px;
}
.upCommingProjects .upcommingProject_item div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.upCommingProjects .upcommingProject_item div * {
  border: 1px solid white;
  padding: 2px;
}
.upCommingProjects .upcommingProject_item div span {
  display: inline-flex;
  justify-content: center;
  width: 50%;
}

@media only screen and (max-width: 576px) {
  .upCommingProjects .portfolio_item .imgbox {
    height: 210px;
  }
}
.testimonial .content_wrapper .content {
  width: 100%;
  max-width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  padding-top: 50px;
  background-color: white;
  box-shadow: 0 0 30px 5px black;
}
.testimonial .content_wrapper .content h1, .testimonial .content_wrapper .content h4 {
  padding: 7px;
  margin: 0;
  color: black;
  font-family: sans-serif;
  font-style: normal;
}
.testimonial .content_wrapper .content h4 {
  font-size: 25px;
  font-weight: 200;
}

@media screen and (max-width: 992px) {
  .testimonial .content_wrapper .content {
    padding: 0px;
    padding-top: 50px;
  }
}
.contact .content {
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 5px black;
}
.contact .content_left {
  margin: 0;
  width: 350px;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}
.contact .content_left .imgbox {
  border: 3px solid blue;
  border: 0;
  position: absolute;
  bottom: -34px;
  left: -80px;
  width: 400px;
  height: 546px;
  transform: rotateZ(10deg);
  background-size: 100%;
  background-image: url(../../media/images/contact/contact.png);
  background-position: 50% 40%;
  background-repeat: no-repeat;
}
.contact .content_right {
  margin: 0;
  padding-left: 20px;
  width: calc(100% - 300px);
}
.contact .content_right .title {
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-size: 50px;
  color: rgb(48, 48, 48);
  font-style: normal;
  font-family: sans-serif;
  font-weight: 500;
  padding-left: 0;
  margin-bottom: 10px;
}
.contact .content_right form {
  padding-bottom: 50px;
  padding-right: 50px;
}
.contact .content_right form .row:first-child .input_field:first-child {
  margin-right: 10px;
}
.contact .content_right form .row:first-child .input_field:last-child {
  margin-left: 10px;
}
.contact .content_right form .row {
  display: flex;
  margin-bottom: 20px;
}
.contact .content_right form .row .input_field {
  width: 100%;
  position: relative;
}
.contact .content_right form .row .input_field input {
  height: 55px;
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(48, 48, 48);
  padding-top: 15px;
  padding-left: 3px;
  font-size: 22px;
  color: rgb(48, 48, 48);
}
.contact .content_right form .row .input_field label {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
}
.contact .content_right form .row .input_field label span {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: sans-serif;
  position: absolute;
  transition: all 0.2s ease;
  color: rgb(48, 48, 48);
  left: 3px;
  top: 55%;
  transform: translateY(-50%);
}
.contact .content_right form .row .textarea {
  margin-top: 20px;
}
.contact .content_right form .row .textarea textarea {
  resize: none;
  padding-top: 0;
  padding-left: 3px;
  width: 100%;
  height: 140px;
  border: 0;
  font-size: 20px;
  border-bottom: 2px solid rgb(48, 48, 48);
  outline: none;
  background-color: transparent;
  color: rgb(48, 48, 48);
}
.contact .content_right form .row .textarea label {
  position: absolute;
  width: 100%;
  height: 170px;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
}
.contact .content_right form .row .textarea label span {
  top: 33px;
  transform: translateY(0%);
}
.contact .content_right button {
  border: 0;
  outline: none;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  display: block;
  width: 95%;
  padding: 17px;
  border-radius: 40px;
  margin: auto;
  margin-top: 40px;
  background-color: rgb(24, 24, 24);
  color: rgb(209, 209, 209);
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 992px) {
  .contact .content_left {
    margin: 0;
    width: 350px;
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
  }
  .contact .content_left .imgbox {
    border: 3px solid blue;
    border: 0;
    left: -100px;
    width: 400px;
    height: 570px;
  }
  .contact .content_right {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 768px) {
  .contact .content_left {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  .contact .content_left .imgbox {
    border: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 75%;
    background-position: 50% 20%;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
    transform: rotateZ(0);
  }
  .contact .content_right {
    margin: 0;
    padding-left: 0px;
    width: 100%;
  }
  .contact .content_right .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
  }
  .contact .content_right form {
    padding: 50px;
  }
}
@media screen and (max-width: 576px) {
  .contact.sec .content_wrapper .content {
    margin: 0;
    padding: 0;
  }
  .contact.sec .content_left .imgbox {
    background-size: 90%;
    background-position: 50% 0px;
  }
  .contact.sec .content_right .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
  }
  .contact.sec .content_right form {
    padding: 50px 15px;
    padding-top: 5px;
  }
  .contact.sec .content_right form .row:first-child .input_field:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .contact.sec .content_right form .row:first-child .input_field:last-child {
    margin-left: 0px;
    margin-top: 10px;
  }
  .contact.sec .content_right form .row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .contact.sec .content_left .imgbox {
    background-size: 90%;
    background-position: 50% 100px;
  }
}
@media only screen and (max-width: 576px) {
  .sec {
    padding: 0;
  }
  .sec .content_wrapper {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }
  .sec .content {
    padding: 7px;
  }
  .sec .title {
    font-size: 30px;
  }
}/*# sourceMappingURL=HomePage.module.css.map */