#homePage {
  background-color: rgb(16, 16, 16);
  position: relative;
}

.sec {
  overflow: hidden;
  padding: 5px;
}
.sec .title {
  color: rgb(30, 255, 143);
  text-align: center;
  margin: auto;
  width: 300px;
  padding: 15px;
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}
.sec .content_wrapper {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin: auto;
  padding: 30px;
  padding-bottom: 90px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sec .content_wrapper .content {
  max-width: 1200px;
  width: 100%;
}

.hero {
  position: relative;
  padding: 0;
  border: 0;
}
.hero .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero .content_wrapper {
  padding-top: 160px;
  padding-bottom: 80px;
  position: relative;
}
.hero .content_wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  text-align: center;
}
.hero .content_wrapper h4 {
  font-size: 30px;
  white-space: nowrap;
}
.hero .content_wrapper h1 {
  font-size: 4.5rem;
}
.hero .content_wrapper h3 {
  margin: 15px 0;
  font-size: 30px;
  padding: 40px;
}
.hero .content_wrapper .btns {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.hero .content_wrapper .btns button {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.2s ease;
}
.hero .content_wrapper .btns button:first-child {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  margin: 0 15px;
  width: 50%;
  max-width: 300px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.hero .content_wrapper .btns button:first-child:hover {
  color: black;
  background-color: white;
}
.hero .content_wrapper .btns button:last-child {
  margin: 0 15px;
  background: rgb(255, 255, 255);
  color: black;
  width: 30%;
  max-width: 220px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.hero .content_wrapper .btns button:last-child:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

@media only screen and (max-width: 576px) {
  .hero .content_wrapper {
    width: 100%;
  }
  .hero .content_wrapper h4 {
    font-size: 30px;
    padding: 10px 0;
  }
  .hero .content_wrapper h1 {
    font-size: 3.2rem;
  }
  .hero .content_wrapper h3 {
    margin: 15px 0;
    font-size: 22px;
    padding: 40px 10px;
  }
  .hero .content_wrapper .btns {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .content_wrapper .btns button {
    padding: 7px 25px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
  }
  .hero .content_wrapper .btns button:last-child {
    margin-top: 15px;
  }
}
.about .content_wrapper .content {
  max-width: 950px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .content_left {
  justify-self: center;
  padding: 10px;
  margin: 15px;
  position: relative;
}
.about .content_left .imgbox {
  position: relative;
  margin-left: auto;
  width: 460px;
  height: 600px;
  background-image: url(../../media/images/about.png);
  background-position: 50% 100%;
  background-size: 106%;
  background-repeat: no-repeat;
}
.about .content_left .imgbox .imgboxBorder {
  position: absolute;
  width: 102%;
  height: 102%;
  top: -22px;
  left: -22px;
  border-top: 10px solid brown;
  border-left: 10px solid brown;
}
.about .content_right {
  width: 350px;
  max-width: 480px;
  flex-grow: 1;
  margin: 15px;
}
.about .content_right h1 {
  font-size: 35px;
  color: brown;
  margin-bottom: 30px;
}
.about .content_right h1 span {
  display: inline-flex;
  margin-bottom: 7px;
  margin-left: 4px;
  height: 6px;
  width: 60px;
  background-color: brown;
}
.about .content_right p {
  font-size: 20px;
  padding: 10px 0;
}
.about .content_right button {
  margin-left: 5px;
  margin-top: 26px;
  font-size: 20px;
  padding: 10px 20px;
}

@media only screen and (max-width: 576px) {
  .about .content_left .imgbox {
    width: 280px;
    height: 360px;
  }
  .about .content_left .imgbox .imgboxBorder {
    width: 102%;
    height: 102%;
    top: -18px;
    left: -18px;
    border-top: 6px solid brown;
    border-left: 6px solid brown;
  }
  .about .content_right {
    max-width: 400px;
    width: 100%;
    min-width: 320px;
  }
  .about .content_right h1 {
    margin-left: 5px;
    font-size: 32px;
  }
  .about .content_right p {
    font-size: 18px;
    padding: 10px 5px;
  }
}
.skills .content_left {
  width: 52%;
  height: 500px;
}
.skills .content_right {
  width: 42%;
  height: 500px;
}

.services .content_wrapper .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 50px;
}
.services .services_item:nth-child(1) {
  border-color: rgb(252, 0, 200);
}
.services .services_item:nth-child(1) .iconbox span {
  color: rgb(252, 0, 200);
  background-color: rgba(255, 0, 200, 0.4);
}
.services .services_item:nth-child(2) {
  border-color: #00d8ff;
}
.services .services_item:nth-child(2) .iconbox span {
  color: #00d8ff;
  background-color: hsla(189deg, 100%, 50%, 0.4);
}
.services .services_item:nth-child(3) {
  border-color: #2aa45f;
}
.services .services_item:nth-child(3) .iconbox span:first-child {
  color: #2aa473;
  background-color: rgba(41, 163, 114, 0.4);
}
.services .services_item:nth-child(3) .iconbox span:nth-child(2) {
  color: #2aa45f;
}
.services .services_item:nth-child(3) .iconbox span:last-child {
  color: #5caa45;
  background-color: rgba(93, 170, 69, 0.4);
}
.services .services_item:nth-child(4) {
  border-color: #2089b8;
}
.services .services_item:nth-child(4) .iconbox span {
  color: #2089b8;
  background-color: rgba(33, 136, 184, 0.4);
}
.services .services_item:nth-child(5) {
  border-color: #777b9d;
}
.services .services_item:nth-child(5) .iconbox span {
  color: #777b9d;
  background-color: rgba(119, 123, 157, 0.4);
}
.services .services_item:nth-child(6) {
  border-color: rgb(162, 177, 111);
}
.services .services_item:nth-child(6) .iconbox span:first-child {
  color: #a4c639;
  background-color: rgba(165, 198, 57, 0.4);
}
.services .services_item:nth-child(6) .iconbox span:nth-child(2) {
  color: rgb(162, 177, 111);
}
.services .services_item:nth-child(6) .iconbox span:last-child {
  color: silver;
  background-color: rgba(192, 192, 192, 0.5);
}
.services .services_item {
  margin: 0 10px;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 17px -5px rgba(255, 255, 255, 0.6);
  border-bottom: 10px solid blue;
}
.services .services_item:hover {
  background-color: rgb(58, 0, 92);
}
.services .services_item .iconbox {
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .services_item .iconbox span {
  font-size: 60px;
  color: blue;
  background-color: rgba(165, 42, 42, 0.7);
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
}
.services .services_item .iconbox span svg {
  z-index: 10;
}
.services .services_item .iconbox span:nth-child(2) {
  z-index: 10;
  background-color: transparent;
  padding: 0;
  margin: 0 -23px;
}
.services .services_item h2 {
  text-align: center;
  padding: 15px 10px;
}
.services .services_item p {
  font-size: 17px;
  padding: 5px 10px;
  font-weight: 100;
  color: rgb(240, 240, 240);
}

@media only screen and (max-width: 576px) {
  .services .content_wrapper .content {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .services .services_item h2 {
    text-align: center;
    padding: 15px 0;
  }
  .services .services_item p {
    font-size: 18px;
    padding: 5px;
  }
}
.portfolio .content_wrapper h1, .upCommingProjects .content_wrapper h1 {
  margin-bottom: 30px;
  padding: 10px 0;
  text-align: center;
  font-size: 30px;
}
.portfolio .content_wrapper h1 span, .upCommingProjects .content_wrapper h1 span {
  color: rgb(113, 113, 113);
  font-size: 37px;
}
.portfolio .content_wrapper p, .upCommingProjects .content_wrapper p {
  font-size: 18px;
}
.portfolio .content_wrapper .btn, .upCommingProjects .content_wrapper .btn {
  margin: 40px;
  padding: 10px 40px;
  font-size: 25px;
  background-color: rgb(148, 148, 148);
  color: white;
  border-radius: 10px;
}
.portfolio .content, .upCommingProjects .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 50px;
}
.portfolio .portfolio_item, .upCommingProjects .portfolio_item {
  border-radius: 5px;
  margin: 0 10px;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.portfolio .portfolio_item .imgbox, .upCommingProjects .portfolio_item .imgbox {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  border-radius: 10px;
}
.portfolio .portfolio_item .imgbox img, .upCommingProjects .portfolio_item .imgbox img {
  height: 230px;
}
.portfolio .portfolio_item h2, .upCommingProjects .portfolio_item h2 {
  padding: 10px 0;
}
.portfolio .portfolio_item .btn_container, .upCommingProjects .portfolio_item .btn_container {
  margin-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.portfolio .portfolio_item .btn_container a, .upCommingProjects .portfolio_item .btn_container a {
  display: inline-flex;
  border-radius: 10px;
  padding: 6px 20px;
}
.portfolio .portfolio_item .btn_container a:first-child, .upCommingProjects .portfolio_item .btn_container a:first-child {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  margin-right: 10px;
}
.portfolio .portfolio_item .btn_container a:last-child, .upCommingProjects .portfolio_item .btn_container a:last-child {
  border: 2px solid rgb(255, 255, 255);
  margin-left: 10px;
  background: rgb(255, 255, 255);
  color: blue;
}

@media only screen and (max-width: 768px) {
  .portfolio .portfolio_item .imgbox, .upCommingProjects .portfolio_item .imgbox {
    height: 210px;
  }
}
@media only screen and (max-width: 768px) {
  .sec {
    padding: 0;
  }
}
@media only screen and (max-width: 576px) {
  .sec {
    padding: 0;
  }
  .sec .content_wrapper {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }
  .sec .content_wrapper .content {
    padding: 7px;
  }
  .sec .title {
    font-size: 30px;
  }
}/*# sourceMappingURL=HomePage.module.css.map */