
#homePage{
    background-color: rgb(16, 16, 16);
    position: relative;
}

.sec{
    // border-bottom: 1px solid white;
    overflow: hidden;
    padding: 5px;
    .content_wrapper{
        // *{
        //     border: 2px solid white;
        // }
    }
    .title{
        background-color: white;
        color: black;
        text-align: center;
        margin: auto;
        width: 300px;
        padding: 15px;
        margin-top: 20px;
    }
    .content_wrapper{
        // border: 2px solid white;
        max-width: 1400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        margin: auto;
        padding: 90px 50px;
        height: fit-content;
        .content{
        }
    }
}


@import "./components/Hero/Hero";
@import "./components/About/About";
@import "./components/Skills/Skills";
@import "./components/Services/Services";
@import "./components/Portfolio/Portfoio";
@import "./components/UpcommigProjects/UpcommingProjects";
@import "./components/Testimonial/Testimonial";
@import "./components/Contact/Contact";


@media only screen and (max-width: 768px) {
    .sec{
        padding: 0;
        .content_wrapper{
            // *{
            //     border: 2px solid white;
            // }
        }
        .content_wrapper{
            // border: 2px solid white;
            padding-left: 0;
            padding-right: 0;
            max-width: 320px;
            .content{
            }
        }
    }
    
}
