$react: #00d8ff;
$django: #2aa473;
$node: #5caa45;
$wordpress: #2089b8;
$blockchain: #777b9d;
$android: #a4c639;
$apple: silver;
.services {
  .services_item:nth-child(1) {
    border-color: rgb(252, 0, 200);
    .iconbox {
      span {
        color: rgb(252, 0, 200);
        background-color: rgba(255, 0, 200, 0.4);
      }
    }
  }
  .services_item:nth-child(2) {
    border-color: $react;
    .iconbox {
      span {
        color: $react;
        background-color: hsla(189, 100%, 50%, 0.4);
      }
    }
  }
  .services_item:nth-child(3) {
    border-color: #2aa45f;
    .iconbox {
      span:first-child {
        color: $django;
        background-color: rgba(41, 163, 114, 0.4);
      }
      span:nth-child(2) {
        color: #2aa45f;
      }
      span:last-child {
        color: $node;
        background-color: rgba(93, 170, 69, 0.4);
      }
    }
  }
  .services_item:nth-child(4) {
    border-color: $wordpress;
    .iconbox {
      span {
        color: $wordpress;
        background-color: rgba(33, 136, 184, 0.4);
      }
    }
  }
  .services_item:nth-child(5) {
    border-color: $blockchain;
    .iconbox {
      span {
        color: $blockchain;
        background-color: rgba(119, 123, 157, 0.4);
      }
    }
  }
  .services_item:nth-child(6) {
    border-color: rgb(162, 177, 111);
    .iconbox {
      span:first-child {
        color: $android;
        background-color: rgba(165, 198, 57, 0.4);
      }
      span:nth-child(2) {
        color: rgb(162, 177, 111);
      }
      span:last-child {
        color: $apple;
        background-color: rgba(192, 192, 192, 0.5);
      }
    }
  }
  .services_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 0px 0px 17px -5px rgba(255, 255, 255, 0.6);
    border-bottom: 10px solid blue;
    &:hover {
      background-color: rgb(58, 0, 92);
    }
    .iconbox {
      white-space: nowrap;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 60px;
        color: blue;
        background-color: rgba(165, 42, 42, 0.7);
        font-weight: bold;
        padding: 20px;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        svg {
          z-index: 10;
        }
      }
      span:nth-child(2) {
        z-index: 10;
        background-color: transparent;
        padding: 0;
        margin: 0 -23px;
      }
    }
    h2 {
      text-align: center;
      padding: 15px 10px;
    }
    p {
      font-size: 17px;
      padding: 5px 10px;
      font-weight: 100;
      line-height: 22px;
      font-family: sans-serif;
      color: rgb(240, 240, 240);
    }
  }
}

@media only screen and (max-width: 576px) {
  .services {
    .services_item {
      h2 {
        text-align: center;
        padding: 15px 0;
      }
      p {
        font-size: 18px;
        padding: 5px;
      }
    }
  }
}
