// light
$lightLeft: rgb(255,255,255);
$lightRight: rgb(90, 90, 90);
$lightTextBg: rgb(90, 90, 90);
$lightTextBg1: rgb(43,52,61);
$lightTextColor: rgb(49, 51, 42);
$lightSecTitle: rgb(40, 40, 40);
$lightResumeTitle: rgb(0, 0, 0);
$lightName: rgb(205,203,204);
$titlefontFamily: 'Merriweather', serif;
$generalfontfamily: 'Roboto', sans-serif;
// dark

#myResumePage{
    cursor: auto;
    .resumeWrapper{
        // overflow-x: auto;
        // max-width: 1400px;
        // width: 100%;
        // background-color: blue;
        // padding: 30px ;
    }
    .secTitle{
        width: 100%;
        font-size: 22px;
        background-color: $lightSecTitle;
        color: white;
        margin-bottom: 15px;
        text-align: center;
        padding: 4px;
        letter-spacing: 2px;
        font-family: $titlefontFamily;
    }
    .resumeSec{
        padding: 10px 25px ;
        padding-bottom: 15px;
        // border: 2px solid black;
    }
    .left{
        .resumeSec{
            padding: 10px 6%;
            padding-bottom: 15px;
        }
    }
}
#myResumePage{
    background-color: rgb(190, 190, 190);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // padding: 100px 0;
    .myResume{
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: rgb(242, 242, 242);
        box-shadow: 0px 0px 25px 4px rgb(100, 100, 100);
        width: 1120px;
        height: 1585px;
        
        .left{
            background-color: $lightLeft;
            width: 55%;
            .personalInfo{
                width: 100%;
                height: fit-content;
                padding-bottom: 10px;
                padding-right: 6%;
                .resumeTitle{
                    font-size: 2.3rem;
                    margin-left: 6%;
                    color: black;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 20px;
                    font-family: $titlefontFamily;   
                    font-style: italic;             
                }
                .imgboxOuter{
                    width: 100%;
                    min-width: fit-content;
                    padding-left: 6.4%;
                    background-color: $lightRight;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .imgboxInner{
                        width: 100%;
                        background-color: $lightSecTitle;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 25px 30px;
                        padding-right: 5px;
                        .imgbox{
                            min-width: 160px;
                            min-height: 180px;
                            background-color: rgb(208, 208, 208);
                            border: 1px solid white;
                            overflow: hidden;
                            background-image: url(../../media/images/dp.png);
                            background-position: 44% 32%;
                            background-repeat: no-repeat;
                            background-size: 170%;
                            img{
                                width: 300px;
                            }
                        }
                        .myinfo{
                            text-align: center;
                            margin: auto;
                            padding: 5px;
                            white-space: nowrap;
                            .myName{
                                color: rgb(185, 185, 185);
                                font-size: 50px;
                                padding-bottom: 18px;
                                margin-top: -17px;
                                font-family: 'Ubuntu', sans-serif;
                            }
                            .profession{
                                color: rgb(240, 240, 240);
                                font-size: 30px;
                                font-weight: 500;
                                font-family: mer;
                            }
                        }
                    }
                }
                .tagline{
                    padding: 15px 0;
                    font-size: 20px;
                    margin-left: 6%;
                    font-weight: 500;
                    color: $lightTextColor;
                    text-align: center;
                    font-family: $generalfontfamily;
                    // span{
                    //     font-weight: 500;
                    // }
                }
            }

            .technicalSkills{
                .technicalSkill{
                    display: inline-flex;
                    background-color: $lightTextBg1; 
                    color: white;
                    padding: 5px 13px;  
                    margin: 5px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $generalfontfamily;
                    transition: all 0.2s ease;
                    &:hover{
                        background-color: hsl(210, 17%, 10%);
                    }
                   }
            }

            .progLangs{
                span{
                    display: inline-flex;
                }
                .progLang{
                    padding: 8px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .title{
                        font-size: 18px;
                        font-weight: 700;
                        color: $lightTextColor;
                        width: 30%;
                        text-transform: uppercase;
                        font-family: $generalfontfamily;
                        margin-left: 2px;
                    }
                    .progressBarOuter{
                        padding: 1px;
                        border: 2px solid black;
                        width: 70%;

                    }
                    .progressBarInner{
                        background-color: $lightTextBg1;
                        height: 10px;
                        width: 100%;
                    }
                }
            }

            .myJourney{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                
                .myJourneyItem{
                    margin-right: -10px;
                    position: relative;
                    width: 80%;
                    border-left: 5px solid $lightTextBg1;
                    color: $lightTextColor;
                    padding: 10px;
                    padding-right: 0;
                    padding-bottom: 25px;
                    font-family: $generalfontfamily;
                    // *{
                    //     margin: 4px;
                    //     border: 1px solid white;
                    // }
                    .time{
                        font-size: 18px;
                        position: absolute;
                        left: -146px;
                        width: 130px;
                        text-align: right;
                    }
                    .title{
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 10px;
                        position: relative;
                        span:first-child{
                            position: absolute;
                            display: inline-flex;
                            height: 13px;
                            width: 13px;
                            border-radius: 50%;
                            left: -19px;
                            top: 7px;
                            border: 1px solid rgb(255, 255, 255);
                            background-color: $lightTextBg1;
                        }
                        span:nth-child(2){
                            color: white;
                            padding: 3px 5px;
                            background-color: $lightTextBg1;
                        }
                    }
                    .desc{
                        font-size: 18px;
                    }
                }
            }
            

        }
        .right{
            width: 45%;
            background-color: $lightRight;
            .contactDetails{
                font-size: 24px;
                font-weight: 400;
                color: rgb(230, 230, 230);
                font-family: sans-serif;
                padding: 30px;
                a{
                    display: flex;
                    line-height: 37px;
                    color: white;
                    transition: all 0.2s ease;
                    &:hover{
                        span:last-child{
                            transform: translateY(-3px);
                            color: rgb(45, 230, 254);
                        }
                        span:first-child{
                            color: rgb(45, 230, 254);
                        }
                    }
                    span:first-child{
                        position: relative;
                        margin-top: 5px;
                        width: 55px;
                        // color: $lightTextBg1;
                    }
                    span:last-child{
                        position: relative;
                        white-space: nowrap;
                    }
                }
                
                .bottomBorder{
                    width: 80%;
                    height: 2px;
                    background-color: rgb(190, 190, 190);
                    margin: auto;
                    margin-top: 20px;
                }
            }

            .projects{
                .projectItem:last-child{
                    margin-bottom: 0;
                }
                .projectItem{
                    margin: 30px 0;
                    font-family: $generalfontfamily;
                    // font-family: sans-serif;
                    .title{
                        color: rgb(255, 255, 255);
                        font-size: 20px;
                        margin: 6px 0;
                        margin-bottom: 8px;
                        font-weight: 700;
                        span{
                            padding: 3px 5px;
                        }
                        span:first-child{
                            padding: 0 5px;
                            color: $lightTextColor;
                            background-color: rgb(200, 200, 200);
                        }
                        span:nth-child(2){
                            margin-left: 7px;
                        }
                    }
                    .desc{
                        color: $lightTextColor;
                        // color: white;
                        background-color: rgb(235, 235, 235);
                        font-size: 18px;
                        font-weight: 500;
                        padding: 10px;
                        margin-left: 25px;
                    }
                }
            }
            
            .langs{
                
                .lang{
                    display: inline-flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    text-align: left;
                    margin: 5px 0;
                    width: 49%;
                    font-family: $generalfontfamily;
                    span{
                        display: inline;
                        margin: 2px 5px;
                    }
                    .title{
                        font-size: 22px;
                        font-weight: 700;
                        color: white;
                    }
                    .level{
                        padding: 3px 10px;
                        font-size: 16px;
                        margin: 2px 6px;
                        font-weight: 500;
                        // white-space: nowrap;
                        color: $lightTextColor;
                        background-color: white;
                        &:hover{
                            background-color: rgb(221, 221, 221);
                        }
                    }
                }
                .lang:last-child{
                    margin-left: 5px;
                }
            }

            .edus{
                
                .edu{
                    font-family: $generalfontfamily;
                    color: white;
                    // *{
                    //     border: 1px solid white;
                    // }
                    .r1{
                        margin: 0;
                        font-size: 20px;
                        font-weight: 700;
                        span{
                            display: inline-flex;
                        }
                        span:nth-child(2){
                            font-size: 25px;
                        }
                        .title{
                            width: 55%;
                            background-color: white;
                            color: $lightTextColor;
                            padding: 5px ;
                            margin-right: 10px;
                        }
                        .institute{
                            position: relative;
                            width: 35%;
                            top: -10px;
                            margin-left: 10px;
                            font-size: 18px;
                        }
                    }
                    .r2{
                        padding: 10px 0;
                        font-size: 20px;
                        font-weight: 500;
                        .time{
                        }
                        .place{
                            margin: auto
                        }
                    }
                    .cgpa{
                        font-size: 22px;
                        // font-weight: bold;
                    }
                }
                
            }

            .interests{
                .interest{
                 display: inline-flex;
                 color: $lightTextColor;
                 background-color: white; 
                 font-family: $generalfontfamily;
                 font-weight: 500;
                 padding: 5px 9px;
                 font-size: 19px; 
                 margin: 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1300px)  {
    #myResumePage{
    
    }
}
@media only screen and (max-width: 1150px) {
    #myResumePage{
     
        .resumeWrapper{
            padding: 20px;
        }
        
    }
}
