$col3: rgb(0,255,187);

.hero{
    position: relative;
    padding: 0;
    border: 0;
    .overlay{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .content_wrapper{
        border: 0;
        padding-top: 160px;
        padding-bottom: 80px;
        position: relative;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 85%;
        // *{
        //     border: 2px solid white;
        // }
        h4{
            font-size: 30px;
        }
        h1{
            font-size: 4.5rem;
            
        }
        h3{
            margin: 15px 0;
            // border: 1px solid;
            font-size: 30px;
            padding: 40px;
        }
        .btns{
            button{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 15px 20px;
                font-size: 25px;
                font-weight: bold;
                transition: all 0.2s ease;
            }
            
            button:first-child{
                border: 2px solid rgb(255, 255, 255);
                background-color: transparent;
                color: white;
                margin-right: 10px;
                width: 50%;
                min-width: fit-content;
                &:hover{
                    color: black;
                    background-color: white;
                }
            }
            button:last-child{
                margin-left: 10px;
                background: rgb(255, 255, 255);
                color: black;
                width: 30%;
                min-width: fit-content;
                &:hover{
                    color: white;
                    background-color: black;
                    border: 2px solid white;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero{
        .content_wrapper{
            border: 2px solid white;
            padding-top: 160px;
            padding-bottom: 80px;
            width: 100%;
            h4{
                font-size: 30px;
                padding: 10px 0;
            }
            h1{
                font-size: 3.2rem;
            }
            h3{
                margin: 15px 0;
                // border: 1px solid;
                font-size: 22px;
                padding: 40px 0;
            }
            .btns{
                button{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    padding: 5px 15px;
                    font-size: 20px;
                    font-weight: bold;
                    transition: all 0.2s ease;
                }
                
                button:first-child{
                    border: 2px solid rgb(255, 255, 255);
                    background-color: transparent;
                    color: white;
                    margin-right: 10px;
                    width: 50%;
                    min-width: fit-content;
                    &:hover{
                        color: black;
                        background-color: white;
                    }
                }
                button:last-child{
                    margin-left: 10px;
                    background: rgb(255, 255, 255);
                    color: black;
                    width: 30%;
                    min-width: fit-content;
                    &:hover{
                        color: white;
                        background-color: black;
                        border: 2px solid white;
                    }
                }
            }
        }
    }
    
}
