body{
    cursor: none;
    overflow-x: hidden;
}
.cursor{
    width: 35px;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: 150% 150%;
    transition: all 0.1s linear;
    z-index: 299;
    backdrop-filter: invert();
}
.cursor-point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 301;
    background: blue;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    transition-property: background, transform;
}
.link-grow{
    transform: scale(1.5);
    background: rgb(255, 255, 255);
}
.hovered-link{
    color: rgb(0, 0, 0);
}