.portfolio{
    .content{
        gap:35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .card{
            // margin: 30px;
            min-width: 380px;
            align-self: stretch;
            width: 350px;
            max-width: 450px;
            flex-grow: 1;
            background-color: rgb(48, 48, 48);
            box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.4);
        }
    }
    .portfolio_item{
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        .imgbox{
            height: 230px;
            width: 100%;
            background-size: cover;
            background-position: 50% 50%;
            overflow: hidden;
            img{
                height: 230px;
            }
        }
        h2{
            padding:10px 20px;
        }
        p{
            padding:10px 20px;
        }
        .btn_container{
            width: 80%;
            // border: 2px solid wheat;
            margin: 20px;
            height: fit-content;
            a{
                display: inline-flex;
                border-radius: 10px;
                padding: 6px 20px;
            }
            a:first-child{
                border: 2px solid rgb(255, 255, 255);
                background-color: transparent;
                color: white;
                margin-right: 10px;
            }
            a:last-child{
                border: 2px solid rgb(255, 255, 255);
                margin-left: 10px;
                background: rgb(255, 255, 255);
                color: blue;
            }
        }
    }
}

@media only screen and (max-width: 576px){
    .portfolio{
        .content{

            .card{
                min-width: 310px;
            }
        }
        .portfolio_item{
            .imgbox{
                height: 210px;
            }
        }
    }
}