.portfolio{
    .content_wrapper{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // height: fit-content;
        // padding-bottom: 30px;
        h1{
            margin: 35px;
            padding: 10px;
            text-align: center;
            font-size: 30px;
            span{
                color: rgb(113, 113, 113);
                font-size: 37px;
            }
        }
        .btn{
            margin: 40px;
            padding: 10px 40px;
            font-size: 25px;
            background-color: rgb(148, 148, 148);
            color: white;
            border-radius: 10px;
        }
    }
    .content{
        width: fit-content;
        // border: 2px solid wheat;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolio_item{
        // border: 2px solid white;
        height: 400px;
        max-width: 330px;
        width: 27%;
        min-width: 280px;
        padding: 10px;
        // border-radius: 25px;
        margin: 20px;
        background-color: rgb(95, 95, 95);
        .imgbox{
            height: 230px;
            width: 100%;
            // border-radius: 20px;
            overflow: hidden;
            img{
                height: 230px;
            }
        }
        h2{
            padding: 10px 0;
        }
        .btn_container{
            margin-top: 10px;
            height: fit-content;
            a{
                display: inline-flex;
                border-radius: 10px;
                padding: 10px 20px;
            }
            a:first-child{
                border: 2px solid rgb(255, 255, 255);
                background-color: transparent;
                color: white;
                margin-right: 10px;
            }
            a:last-child{
                margin-left: 10px;
                background: rgb(255, 255, 255);
                color: blue;
            }
        }
    }
}