.portfolio, .upCommingProjects{
    .content_wrapper{
       
        h1{
            margin-bottom: 30px;
            padding: 10px 0;
            text-align: center;
            font-size: 30px;
            span{
                color: rgb(113, 113, 113);
                font-size: 37px;
            }
        }
        p{
            font-size: 18px;
        }
        .btn{
            margin: 40px;
            padding: 10px 40px;
            font-size: 25px;
            background-color: rgb(148, 148, 148);
            color: white;
            border-radius: 10px;
        }
    }
    .content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        grid-gap: 30px;
        grid-row-gap: 50px;
    }
    .portfolio_item{
        border-radius: 5px;
        margin: 0 10px;
        padding: 20px;
        background-color: rgb(34, 34, 34);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        // *{
        //     border: 1px solid white;
        //     padding: 5px;
        // }
        .imgbox{
            height: 230px;
            width: 100%;
            background-size: cover;
            background-position: 50% 50%;
            overflow: hidden;
            border-radius: 10px;
            img{
                height: 230px;
            }
        }
        h2{
            padding: 10px 0;
        }
        .btn_container{
            // border: 2px solid wheat;
            margin-top: 20px;
            height: fit-content;
            a{
                display: inline-flex;
                border-radius: 10px;
                padding: 6px 20px;
            }
            a:first-child{
                border: 2px solid rgb(255, 255, 255);
                background-color: transparent;
                color: white;
                margin-right: 10px;
            }
            a:last-child{
                border: 2px solid rgb(255, 255, 255);
                margin-left: 10px;
                background: rgb(255, 255, 255);
                color: blue;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .portfolio, .upCommingProjects{
        .portfolio_item{
            .imgbox{
                height: 210px;
            }
        }
    }
}